/*Media queries -------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 375px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li a {
    padding: 0.8em 1.8em;
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }

  .mainContainer {
    width: 100%;
  }
  .scroll {
    display: none;
  }
  .CTA {
    width: 60%;
  }
  .aboutText {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .lineDark {
    display: none;
  }
  .col- {
    width: 90%;
    margin-left: 1em;
  }
  .col-1 {
    width: 90%;
    margin-left: 1em;
  }
  .column ul {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .brand-title-footer {
    text-align: center;
  }
  .topButton {
    bottom: 0;
    right: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 0.5em 0.5em 0;
    border-radius: 50%;
    padding: 0.1em;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li a {
    padding: 0.8em 1.8em;
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }
  .mainContainer {
    width: 100%;
  }
  .scroll {
    display: none;
  }
  .pageDes {
    margin-left: 1em;
    margin-right: 1em;
  }
  .CTA {
    width: 60%;
  }
  .aboutContent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .lineDark {
    display: none;
  }
  .col- {
    width: 90%;
    margin-left: 1em;
  }
  .col-1 {
    width: 90%;
    margin-left: 1em;
  }
  .column ul {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .brand-title-footer {
    text-align: center;
  }
  .topButton {
    bottom: 0;
    right: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 0.5em 0.5em 0;
    border-radius: 50%;
    padding: 0.1em;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 595px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li a {
    padding: 0.8em 1.8em;
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }
  .scroll {
    display: none;
  }
  .lineDark {
    display: none;
  }
  .CTA {
    width: 50%;
  }
  .aboutContent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .lineDark {
    display: none;
  }
  .col- {
    width: 90%;
    margin-left: 1em;
  }
  .col-1 {
    width: 90%;
    margin-left: 1em;
  }
}
@media only screen and (min-width: 595px) and (max-width: 690px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li a {
    padding: 0.8em 1.8em;
    font-size: 0.5em;
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }
  .scroll {
    display: none;
  }
  .lineDark {
    display: none;
  }
  .CTA {
    width: 40%;
  }
  .aboutContent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .lineDark {
    display: none;
  }
  .col- {
    width: 90%;
    margin-left: 1em;
  }
  .col-1 {
    width: 90%;
    margin-left: 1em;
  }
}
@media only screen and (min-width: 690px) and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li a {
    padding: 0.8em 1.8em;
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }

  .navbar-links li a {
    display: block;
    font-size: 1.5em;
    padding: 0.8em;
    margin: 1em;
  }
  .navbar-links li a:hover {
    cursor: pointer;
  }
  .scroll {
    display: none;
  }
  .lineDark {
    display: none;
  }
  .col- {
    width: 90%;
    margin-left: 1em;
  }
  .col-1 {
    width: 90%;
    margin-left: 1em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li a {
    padding: 0.8em 1.8em;
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }
  .scroll {
    display: none;
  }
  .lineDark {
    display: none;
  }
  .col- {
    width: 45%;
    margin-left: 1em;
  }
  .col-1 {
    width: 35%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1320px) {
  .footer-top {
    width: 100%;
    text-align: right;
    margin-right: 0;
  }
}
