/*Media queries -------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 375px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li a {
    padding: 0.8em 1.8em;
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }
  h1 {
    width: 5%;
  }
  .avatar {
    display: none;
  }
  .mainText {
    width: 95%;
    margin-left: 5%;
  }
  .CTA {
    width: 100%;
  }
  .CTA2 {
    width: 100%;
  }
  .aboutText {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li a {
    padding: 0.8em 1.8em;
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }
  .mainContainer {
    width: 100%;
  }
  .pageDes {
    margin-left: 1em;
    margin-right: 1em;
  }
  .avatar {
    display: none;
  }
  .mainText {
    width: 95%;
    margin-left: 5%;
  }
  .CTA {
    width: 100%;
  }
  .CTA2 {
    width: 100%;
  }
  .aboutContent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 595px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li a {
    padding: 0.8em 1.8em;
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }
  .avatar {
    display: none;
  }
  .mainText {
    width: 95%;
    margin-left: 5%;
  }
  .CTA {
    width: 100%;
  }
  .CTA2 {
    width: 100%;
  }
  .aboutContent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 595px) and (max-width: 690px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li a {
    padding: 0.8em 1.8em;
    font-size: 0.5em;
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }
  .mainText {
    width: 60%;
    margin-left: 0;
    margin-right: 0;
  }
  .CTA {
    width: 100%;
  }
  .CTA2 {
    width: 100%;
  }
  .aboutContent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 690px) and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li a {
    padding: 0.8em 1.8em;
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }

  .navbar-links li a {
    display: block;
    font-size: 1.5em;
    padding: 0.8em;
    margin: 1em;
  }
  .navbar-links li a:hover {
    cursor: pointer;
  }
  .mainText {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
  .CTA {
    min-width: 50%;
  }
  .CTA2 {
    min-width: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li a {
    padding: 0.8em 1.8em;
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }

  .mainText {
    width: 40%;
    margin-left: 0;
    margin-right: 0;
  }
  .CTA {
    min-width: 50%;
  }
  .CTA2 {
    min-width: 50%;
  }
  .flex-item {
    flex: none;
    width: 10%;
  }
  .flex-box {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1320px) {
  .mainText {
    margin-left: 0;
    margin-right: 0;
  }
  .footer-top {
    width: 100%;
    text-align: right;
    margin-right: 0;
  }
}
